<header class="header-container">
  <div class="header-icon">
    <svg viewBox="0 0 100 30" width="36" height="20">
      <rect
        stroke="#fff"
        fill="#fff"
        stroke-linecap="round"
        width="50"
        height="4"
      ></rect>
      <rect
        stroke="#fff"
        fill="#fff"
        stroke-linecap="round"
        y="15"
        width="50"
        height="4"
      ></rect>
      <rect
        stroke="#fff"
        fill="#fff"
        stroke-linecap="round"
        y="30"
        width="50"
        height="4"
      ></rect>
    </svg>
  </div>
  <div class="header-text">Messages</div>
</header>
