.message-container {
    padding: 8px 16px;
    max-height: 92vh;
    overflow-y: auto;

    .message-card {
        background: #fff;
        box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
        padding: 12px;
        font-size: 14px;
        margin: 8px 0;

        .profile-sec {
            display: flex;
            font-size: 12px;

            .profile-img {
                width: 35px;
                height: 35px;

                img {
                    width: 100%;
                    border-radius: 35px;
                    max-height: 80px;
                    object-fit: contain;
                }
            }

            .profile-text {
                padding: 4px 16px;

                .profile-name {
                    font-weight: 700;
                }

                .message-time {
                    color: rgb(97, 95, 95);
                    font-size: 12px;
                }

            }
        }

        .message-description {
            margin: 8px 0;
            line-height: 1.3
        }
    }
}